@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

@import "tailwindcss";

@theme {
    --font-primary: "Josefin Sans", sans-serif;
    --color-primary: #582186;
    --color-dark: #4C1D95;
    --color-lighter: #F6F3FF;
    --color-light: #DDD6FE;
}